body {
    background-image: url(fondo.jpg);
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#logo {
    text-align: center;
    height: 100%;
    width: 100%;
}

#titulo {
    font-size: 70px;
    font-weight: bold;
    color: white;
    margin-top: 140px;
    font-family: Arial, Helvetica, sans-serif;
}

#contenedor_grande {
    display: flex;
    height: 90%;
    width: 80%;
    margin: 27px auto;
}

#logoBando1 {
    width: 50%;
    background-color: rgba(0, 0, 255, 0.202);
    border-bottom-left-radius: 8%;
    border-top-left-radius: 8%;
}

#logoBando2 {
    width: 50%;
    background-color: rgba(255, 0, 0, 0.202);
    border-top-right-radius: 8%;
}

#botonera {
    display: flex;
    height: 10%;
    width: 80%;
    margin: auto;
}

.botones {
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 3.5;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.boton {

    height: 50%;
    width: 70%;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: white;
    background-color: rgba(141, 141, 141, 0.261);
    border: 2px solid black;
    cursor: pointer;
}

#espacio {
    height: 10%;
    width: 100%;
}

.contenedor {
    display: flex;
    height: 80%;
    width: 81%;
    margin: 15px auto;
}

.imperio {
    width: 427px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.205)
}

.rebeldes {
    width: 427px;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.205)
}
.rebeldes2 {
    width: 427px;
    height: 50%;
    background-color: rgba(0, 244, 255, 0.205);
}

.linea {
    width: 2px;
    height: 100%;
    background-color: black;
}

.linea2 {
    width: 100%;
    height: 2px;
    background-color: black;
}

.botonVolver {
    text-align: center;
}